#img1 {
width: 500px;
height: 500px;
border: 3px solid rgb(255, 255, 19);
border-radius: 10%;
}

button {
    color: black;
    background-color: rgb(252, 39, 39);
    border-radius: 5px;
    border-color: teal;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: deepskyblue;
}